*{
    font-family: sans-serif;
    color: var(--txt-clr);
}

.body-container{
    background-image: url(../includes/background\(ingredients\).webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

.fixed-bg {
    background-image: url("/includes/background.webp");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#back-button{
    margin-top: 100px;
    grid-area: 1/1/1/1;
}

#favourite-button{
    width: 50px;
    background-color: var(--light-accent);
    border-radius: 50px;
    border: none;
}

.saveButton{
    width: 50px;
    background-color: var(--light-accent);
    border: none;
}

.button{
    text-decoration: underline;
    color: var(--high-light);
    background-color: hsla(0,0,0,100);
    padding: 10px;
    margin: 10px;
    border: solid var(--high-light);
    border-radius: 50px;
    width: 5%;
    max-width: 100%;
}

.column1{
    margin: 20px;
}

.column2{
    margin: 20px;
}

.comment{
    margin: 20px;
    padding: 10px;
    width: 80%;
    min-height: 50px;
    border-radius: 10px;
    background-color: var(--light-accent);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#commentinput{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    resize: none;
    border-radius: 5px;
    border: solid grey 2px;
}

.comment-section{
    margin: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.comment-title{
    padding-left: 20px;
}

.comment-text{
    margin: 5px;
    color: var(--dark-accent);
}

.comment-info{
    font-style: italic;
    color: var(--dark-accent);
    text-align: right;
}

.delete{
    background-color: var(--txt-clr);
    color: white;
    float: right;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: var(--txt-clr) outset;
}

.hidden{
    display: none;
}

.new-comment{
    width: 80%;
    padding: 10px;
}

.inner{
    margin: 10px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: #faf6e8;
}

.postComment{
    padding: 5px;
    color: var(--txt-clr);
    margin: 5px;
    background-color: var(--light-accent);
    border-radius: 5px;
    border: var(--light-accent) outset;

}

.container{
    margin: 10px;
}

.details{
    margin: 20px;
    grid-area: 4/1/4/3;
}

.main-page{
    display: grid;
    grid-template-columns: 30% 70%;
}

#loginPopup{
    color: red;
    background-color: lightgray;
}

.recipe-card{
    width: 65%;
    padding: 10px;
    align-self: center;
    border-radius: 10px;
    color: var(--txt-clr);
    background-color: var(--light-accent);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* how tf do I make the bullets and numbers in lists coloured but keep the text just normal text colour?? */
}

.recipe-section{
    margin: 10px;
}

.recipe-grid{
    display: grid;
    grid-template-columns: 88% 12%;
}

.side-block{
    width: 90%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    color: var(--dark-accent);
    background-color: var(--light-accent);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side-block-header{
    margin-bottom: 5px;
    color: var(--dark-accent);
}

.title-bar{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.title-image{
    width: 100%;
    max-width:100%;
    height: auto;
    display: block;
    margin-right: auto;
    background-color: var(--light-accent);
}

.image-box{
    width: 66%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: var(--light-accent);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 5px;
    border-radius: 5px;
}

.frontPage {
    width: 100vw;
    height: 100vh;
    background-image: url(/VIdeos/Black.png);
    background-size: cover;
}

header {
    /* position: fixed; */
    background-color: var(--txt-clr);
    width: 100%;
    display: flex;
    align-items: center;
}

.logoCombo {
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 0px;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.pageTraversal {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0px 20px;
}

.pageTraversal a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: bolder;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.pageTraversal::after {
    content: '';
    height: 3px;
    width: 0;
    background: var(--light-accent);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.pageTraversal:hover::after {
    width: 100%;
}

.loginPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
    text-align: center;
    background-color: #e8eae6;
    box-sizing: border-box;
    padding: 10px;
    z-index: 100;
    display: none;
    /*to hide popup initially*/
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 4px;
}
