*{
    font-family: sans-serif;
    color: var(--txtColor);
}

html, body{
    margin: 0;
    height: 100%;
}

.bodyContainer{
    background-image: url(../includes/background\(ingredients\).webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

#backButton{
    margin-top: 80px;
    grid-area: 1/1/1/1;
}

#favouriteButton{
    width: 50px;
    background-color: var(--lightAccent);
    border-radius: 50px;
    border: none;
}

.saveButton{
    width: 50px;
    background-color: var(--lightAccent);
    border: none;
}

.button{
    text-decoration: underline;
    color: var(--highlight);
    background-color: hsla(0,0,0,100);
    padding: 5px;
    width: 10%;
    max-width: 100%;
}

.column1, .column2{
    margin: 20px;
    margin-top: 100px;
}

.recipeColumn1, .recipeColumn2{
    margin: 20px;
}

.comment{
    margin: 20px;
    padding: 10px;
    width: 80%;
    min-height: 50px;
    border-radius: 10px;
    background-color: var(--lightAccent);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#commentInput{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    resize: none;
    border-radius: 5px;
    border: solid grey 2px;
}

.commentSection{
    margin: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.commentTitle{
    padding-left: 20px;
}

.commentText{
    margin: 5px;
    color: var(--darkAccent);
}

.commentInfo{
    font-style: italic;
    color: var(--darkAccent);
    text-align: right;
}

.delete{
    background-color: var(--txtColor);
    color: white;
    float: right;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: var(--txtColor) outset;
}

.hidden{
    display: none;
}

.newComment{
    width: 80%;
    padding: 10px;
}

.inner{
    margin: 10px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: #faf6e8;
}

.postComment{
    padding: 5px;
    color: var(--txtColor);
    margin: 5px;
    background-color: var(--lightAccent);
    border-radius: 5px;
    border: var(--lightAccent) outset;

}

.container{
    margin: 10px;
}

.details{
    margin: 20px;
    grid-area: 4/1/4/3;
}

.mainpage{
    display: grid;
    grid-template-columns: 30% 70%;
}

#loginPopup{
    color: red;
    background-color: lightgray;
}

.recipeCard{
    width: 65%;
    padding: 10px;
    align-self: center;
    border-radius: 10px;
    color: var(--txtColor);
    background-color: var(--lightAccent);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipeSection{
    margin: 10px;
}

.recipeGrid{
    display: grid;
    grid-template-columns: 88% 12%;
}

.sideBlock{
    width: 90%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    color: var(--darkAccent);
    background-color: var(--lightAccent);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sideBlockHeader{
    margin-bottom: 5px;
    color: var(--darkAccent);
}

.titleBar{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.titleImage{
    width: 100%;
    max-width:100%;
    height: auto;
    display: block;
    margin-right: auto;
    background-color: var(--lightAccent);
}

.imageBox{
    width: 66%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: var(--lightAccent);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 5px;
    border-radius: 5px;
}


@media screen and (max-width: 800px) {
    .mainpage{
        grid-template-columns: auto;
    }

    .imageBox{
        width: 90%;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
    }

    .recipeCard{
        width: 90%;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
    }

    .commentSection{
        margin: 20px;
        width: auto;
    }

    .inner{
        margin: 0px;
        padding: 20px;
        width: 90%;
    }

    .newComment{
        width: auto;

    }

    .comment{
        margin: 20px;
        padding: 20px;
        width: 90%;
    }

    .column2{
        margin-top: 20px;
    }
}
