*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.gridContainer {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(18, 1fr);
    width: 100vw;
    height: 100vh;
    gap: 15px;
}

form {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 15px solid #f1f1f1;
    border-radius: 5px;
    padding: 20px;
    border-radius: 5px;
    grid-row: 1 / 12;
    grid-column: -11/ -23;
}

.tekstContainer {
    display: flex;
    justify-content: center;
}

.tekstContainer h1 {
    font-size: 60px;
    font-weight: 400;
}

.inputContainer {
    padding: 20px;
    margin: 20px;
    border: 4px solid #f1f1f1;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding: 20px
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

button {
    background-color: #009688;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0px;
}

button:hover {
    opacity: 0.8;
}

.image {
    height: 100%;
    width: 100%;
    border: 15px solid #f1f1f1;
    border-radius: 5px;
    object-fit: cover;
}

#img1 {
    grid-column-start: -1;
    grid-column-end: -11;
    grid-row-start: -1;
    grid-row-end: -12;
}

#img2 {
    grid-column-start: -17;
    grid-column-end: -11;
    grid-row-start: -8;
    grid-row-end: -1;
}

#img3 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 19;
}

#img4 {
    grid-column-start: -23;
    grid-column-end: -17;
    grid-row-start: -8;
    grid-row-end: -1;
}

#img5 {
    grid-column-start: -11;
    grid-column-end: -6;
    grid-row-start: -19;
    grid-row-end: -12;
}

#img6 {
    grid-column-start: -6;
    grid-column-end: -1;
    grid-row-start: -19;
    grid-row-end: -12;
}

#img7 {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 12;
}

#img8 {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 12;
    grid-row-end: 19;
}





