body {
    background: white;
}

/* Search bar */

.search-bar {
    padding-left: 30%;
    height: 100px;
}

.input-search-bar {
    top: 20px;
    box-sizing: border-box;
    padding: 0 20px;
    width: 91.5%;
    height: 60px;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    color: #000000;
    border: 3px solid #797575;
}

/* Recipe display */

.card-holder {
    display: grid;
    grid-template-columns: auto auto;
    width: 120%;
    height: auto;
    padding: 10px;
    background-color: rgb(218, 235, 218);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

.recipes{
    width: 100%;
    max-width: 960px;
}

.images{
    max-width: 100%;
    height: auto;
    display: block;
}

.label-available{
    border: 2px solid #000;
    padding: 4px 20px;
    border-radius: 20px;
    min-width: 80px;
    display: inline-block;
    text-align: center;
}

.labels{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.label-unavailable{
    border: 2px solid #7f7e7e;
    color: #7f7e7e;
    padding: 4px 20px;
    border-radius: 20px;
    min-width: 80px;
    display: inline-block;
    text-align: center;
}

.title-page{
    text-align: center;
    padding-top: 50px;
}

.main-page{
    display: grid;
    grid-template-columns: 30% 70%;
}

.title-filter{
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}

.left-page-title{
    margin-top: 0;
}

.column2{
    padding: 10px;
}