*{
    margin: 10px;
    padding: 1;
    font-family: sans-serif;
    color: var(--txt-clr);
}

#back-button{
    margin-top: 100px;
    grid-area: 1/1/1/1;
}

.button{
    text-decoration: underline;
    color: var(--background-clr);
    padding: 10px;
    margin: 10px;
    border: ridge var(--high-light);
    /*border-radius: need some;*/
    background-color: var(--high-light);
}

.button img{
    /*styling an image I don't have yet, inside an element that could be anything, whoooo*/
}

.column1{
    margin-top: 200px;
}

.column2{
    margin-top: 200px;
}

.details{
    grid-area: 4/1/4/3;
}

.main-page{
    display: grid;
    grid-template-columns: 30% 70%;
}

.recipe-card{
    width: 65%;
    padding: 10px;
    margin-left: 20px;
    color: var(--txt-clr);
    background-color: var(--light-accent);
    /* how tf do I make the bullets and numbers in lists coloured but keep the text just normal text colour?? */
}

.recipe-grid{
    display: grid;
    grid-template-columns: 88% 12%;
}

.side-block{
    width: 90%;
    padding: 10px;
    margin: 10px;
    color: var(--dark-accent);
    background-color: var(--light-accent);
}

.title-bar{
}

.title-image{
    width: 60%;
    max-width:100%;
    height: auto;
    display: block;
    margin-right: auto;
    border: var(--light-accent) outset;
}

.frontPage {
    width: 100vw;
    height: 100vh;
    background-image: url(/VIdeos/Black.png);
    background-size: cover;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 3;
}

.logoCombo {
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 0px;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.pageTraversal {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0px 20px;
}

.pageTraversal a {
    text-decoration: none;
    color: var(--txt-clr);
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: bolder;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.pageTraversal::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.pageTraversal:hover::after {
    width: 100%;
}
