* {
    margin: 0;
}


html, body{
    margin: 0;
    height: 100vh;
}


.logoCombo {
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 0px;
    background-color: var(--txtColor);
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.pageTraversal {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0px 20px;
}

.pageTraversal {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0px 20px;
}

.pageTraversal a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: bolder;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.pageTraversal::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.pageTraversal:hover::after {
    width: 100%;
}

.mainpage{
    padding-top: 80px;
}

.navbar2 {
    height: 100%;
    padding-top: 80px;
    width: 15vw;
    background-color: hsl(35, 49%, 12%);
    color: #fff;
}

.topNav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topNav a {
    text-decoration: none;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.topNav a:hover {
    background-color: #555;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
}

label{
    font-size: 20px;
}

input[type=text], [type=number], input[type=password] {
    font-size: 18px;
    width: 50%;
    padding: 15px 20px;
    margin: 12px 0;
    display: block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    margin: 5px;
    font-size: 18px;
    width: 50%;
    padding: 15px 20px;
    background-color: var(--lightAccent);
    border: 2px solid #9d9d9d;
}

input[type=submit]:hover {
    background-color: hsl(129, 41%, 66%);
}

.ingredient {
    display: grid;
    grid-template-columns: auto auto;
}

.amount {
    width: 130px;
    height: 20px;
    margin-top: 13px;
    margin-left: 2px;
}

.unit {
    min-width: 80px;
    height: 32px;
    margin-top: 13px;
}

.ingredientButton {
    border: 4px solid   var(--txtColor);
    padding: 4px 20px;
    border-radius: 20px;
    width: 240px;
    height: 35px;
    display: inline-block;
    text-align: center;
    margin: 3px;
    font-size: medium;
    background-color: rgb(240, 222, 222);
    color: #143516;
}

.ingredientButton:hover {
    background-color: #6ed472;
    color: #000;
}

.ingredientButton.selected {
    background-color: #4CAF50;
    color: #000;
}

.ingredientButton[style="display: none;"] {
    display: none;
}

.ingredientsContainer {
    max-height: 300px;
    max-width: 250px;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;;
    margin-bottom: 1%;
    overflow-y: scroll;
}

.searchbar {
    width: 450px;
    height: 100px;
}

.inputSearchbar {
    top: 20px;
    box-sizing: border-box;
    padding: 0 20px;
    width: 500px;
    height: 60px;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    color: #000000;
    border: 3px solid #797575;
}

h1 {
    margin: 25px;
}

.img {
    max-height: 300px;
    max-width: 300px;
}

.selectImg {
    max-height: 40px;
    margin-bottom: 10px;
}

.visuals {
    display: grid;
    grid-template-columns: auto auto;
}

.pick {
    max-height: 500px;
    margin-left: -300px;
}

.see {
    display: grid;
    grid-template-columns: auto;
    margin-top: 1%;
    max-width: 300px;
}

@media screen and (max-width: 1200px) {
    .mainpage{
        padding-top: 100px;
    }

    .navbar2{
        padding-top: 100px;
    }

    .visuals{
        grid-template-columns: auto;
    }

    .pick{
        margin-left: 0;
    }
}
