:root{
    --background-clr: hsl(0, 100%, 100%);
    --txt-clr: hsl(110, 45%, 12%);
    --light-accent: rgb(218, 235, 218);
    --dark-accent: hsl(35, 50%, 20%);
    --high-light: hsl(117, 100%, 40%);
}