:root{
    --backgroundColor: hsl(0, 100%, 100%);
    --txtColor: hsl(110, 45%, 12%);
    --lightAccent: rgb(218, 235, 218);
    --darkAccent: hsl(35, 50%, 20%);
    --highlight: hsl(117, 100%, 40%);
}